
body {
    background-color: #011A38;
    color: #FFFFFF;
  }
  
  .navbar-brand {
    color: #FFFFFF;
  }
  
  .navbar-nav .nav-link {
    color: #011A38;
  }
  
  .navbar-toggler {
    border-color: #FFFFFF;
  }
  
  .navbar-toggler i {
    color: #F25D27;
  }
  
  .btn-black {
    background-color: #011A38;
    border-color: #011A38;
    color: #F25D27;
    font-weight: bold;
  }
  
  .btn-black:hover {
    background-color: #F25D27;
    border-color: #F25D27;
    color: #011A38;
  }
  
  .banner {
    background-color: #011A38;
    color: #FFFFFF;
    background-image: url("../assets/gamer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  