
body {
  background-color: #222222;
  color: #FFFFFF;
}

.navbar-brand {
  color: #FFFFFF;
}

.navbar-nav .nav-link {
  color: #222222;
}

.navbar-toggler {
  border-color: #FFFFFF;
}

.navbar-toggler i {
  color: #bb00bb;
}

.btn-black {
  background-color: #222222;
  border-color: #222222;
  color:  #bb00bb;
  font-weight: bold;
}

.btn-black:hover {
  background-color: #bb00bb;
  border-color:  #bb00bb;
  color: #222222;
}

.banner {
  background-color: #222222;
  color: #FFFFFF;
  background-image: url("../assets/gamer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}